[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywin32 = "300"

[dev-packages]
pipenv-setup = "3.1.1"

[requires]
python_version = "3.9"

[scripts]
generate-dependencies="pipenv-setup sync --dev"
